<h2>If you see this page mean.You don't follow the READ.MD instruction.
Please go and configure correctly for nest-paris-cms</h2>

<h2>Please follow this instruction for running this assignment</h2>
<p># Node + Mongodb + AJAx (cms website Assignment)</p>

<p>Simple cms app using express, node & passport,Ajax,jquery.</p>


<h2>## Prerequisites </h2>

<ul>
<li>* Postman chrome extension for posting initial website data.</li>
<li>* [Node.js with npm](https://nodejs.org/en/)</li>
<li>* [MongoDB](https://docs.mongodb.org/manual/installation/)</li>
</ul>
</h2>## Installation</h2>
<ul>
<li>* Clone/download the code and install the npm modules from package.json (npm install).</li>
<li>* Start the mongo db.</li>
<li>* Start the app using npm start.</li>
<li>* Go to postman extension and select POST method with url (localhost:3003/cms_paris_api)</li>
<li>and select body and post sample data from db_data.json from directory.</li>
</ul>
<h2>## Step to access cms page</h2>
<ul>
<li>* url:http://localhost:3003/login (if you are existing user use this)</li>
<li>* url:http://localhost:3003/signup (if you are new to this demo)</li>

