<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.css"></link>
<link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>
  </body>
</html>