
    <div class="container">
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Send us your Feedback </h3> 
           </div>
           <br>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form" name="feedbackForm" ng-submit="sendFeedback()" nov alidate>
                    
                  <!--form start -->
                  <!-- Name text area  -->
                 <div class="form-group"  ng-class="{ 'has-error' : feedbackForm.name.$invalid && !feedbackForm.name.$pristine }">                  
                   <label for="name">Name:</label>
                    <input type="text" class='form-control' id='name' name="name" ng-model="feedback.name" required>
                    <span style="color:red" ng-show="feedbackForm.name.$dirty && feedbackForm.name.$invalid">
                    <span ng-show="feedbackForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
                <!-- End name text area -->

                <!-- contact number part -->
                <div class="form-group"  ng-class="{ 'has-error' : feedbackForm.email.$invalid && !feedbackForm.email.$pristine }">                  
                   <label for="email">Email:</label>
                    <input type="email" class='form-control' id='email' name="email" ng-model="feedback.email" required>
                    <span style="color:red" ng-show="feedbackForm.email.$dirty && feedbackForm.email.$invalid">
                    <span ng-show="feedbackForm.email.$error.required">Email required.</span>
                    </span>
                </div>
                <!-- end contact number part -->



                  <!-- comment text area part -->
                 <div class="form-group"  ng-class="{ 'has-error' : feedbackForm.feedback_txt.$invalid && !feedbackForm.feedback_txt.$pristine }">
                  <label for="fback">Feed back:</label>
                  <textarea class="form-control" name="feedback_txt" ng-model='feedback.feedback_txt'rows="5" id="fback" required></textarea>
                   <span style="color:red" ng-show="!feedbackForm.feedback_txt.$pristine && feedbackForm.feedback_txt.$dirty && feedbackForm.feedback_txt.$invalid">
                   <span ng-show="feedbackForm.feedback_txt.$error.required">Feedback  is required.</span>
                   </span>
                 </div>
                 <!-- End comment text area-->
                 <div ng-show='loading'>
                  Loading....
                 </div>
               <div ng-show='success_msg'>
                 <div class="alert alert-success">
                    
                    <strong>Success! </strong>Feedback data is successfully submitted.
                </div>
                  
                 </div>
              <input type='submit' class='btn btn-info pull-right' value='submit' ng-disabled='feedbackForm.$invalid'>
                 
                 
                  <!-- form end -->



                </form>
            </div>
             <div class="col-xs-12 col-sm-3">
              <!-- message success part -->

              <!-- end message success part -->
            </div>
       </div>

    </div>
